<!DOCTYPE html>
<html>
  <head>
    <title>Article Details</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Article Details</h1>
    <p>Title: <%= article.title %></p>
    <p>Content: <%= article.content %></p>
    <a href="/articles">Back to Articles</a>
  </body>
</html>
